<% layout('layouts/boilerplate') %>

    <div class="mainContent mt-3">
        <div class="row">
            <div class="col-8 offset-2">
                <h3>Edit your review...</h3>
                <h5 class="mt-3">Review ID : <%= review._id %>
                </h5>
            </div>
        </div>
        <div class="row">
            <div class="col-8 offset-2">
                <div class="formContainer">
                    <form action="/listings/<%= listing._id %>/reviews/<%= review._id %>?_method=PATCH" method="POST">
                        <div class="mb-3">
                            <label for="message" class="form-label">Message</label>
                            <input type="text" name="message" id="message" class="form-control"
                                value="<%= review.content %>">
                        </div>
                        <div class="mb-3">
                            <input type="hidden" class="rating" name="rating" value = <%= review.rating %>>
                        </div>
                        <div class="mb-3">
                            <label for="rating" class="form-label">Rating</label>
                            <div class="stars">
                                <% for(let i=1; i <=5; i++) { %>
                                    <div class="star">
                                        <% if(i <=review.rating) { %>
                                            <i class="fa-solid fa-star"></i>
                                            <% } else { %>
                                                <i class="fa-regular fa-star"></i>
                                                <% } %>
                                    </div>
                                    <% } %>

                            </div>
                        </div>
                        <div class="mb-3">
                            <button class="submitButton" type="submit">Save changes..</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <script src="/js/editReviewForm.js"></script>