<% layout('layouts/boilerplate') %>
    <style>
        body {
            background-image: url('<%= listing.image.url %>');
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            background-attachment: fixed;
        }
    </style>

    <h3 class="showTitle">
        <%= listing.title %>
    </h3>
    <div class="mainContent glass-card">
        <div class="card glass-card">
            <div class="showImage"><img src="<%= listing.image.url %>" alt=""></div>
            <div class="showInfo">
                <div class="infoPart host">
                    <div class="icon"><span class="material-symbols-outlined">
                            server_person
                        </span></div>
                    <div class="text">
                        Hosted by: <i>
                            <%= listing.owner.username %>
                        </i>
                    </div>
                </div>
                <div class="infoPart description">
                    <div class="icon"><span class="material-symbols-outlined">info</span></div>
                    <div class="text">
                        <%= listing.description %>
                    </div>
                </div>
                <div class="infoPart location">
                    <div class="icon"><span class="material-symbols-outlined">location_on</span></div>
                    <div class="text">
                        <%= listing.location %>
                    </div>
                </div>
                <div class="infoPart country">
                    <div class="icon"><span class="material-symbols-outlined">globe_asia</span></div>
                    <div class="text">
                        <%= listing.country %>
                    </div>
                </div>
                <div class="infoPart price">
                    <div class="icon"><span class="material-symbols-outlined">payments</span></div>
                    <div class="text">
                        &#8377;<%= listing.price.toLocaleString("en-IN") %>/night
                            <div class="buttons">
                                <div class="editAndBookButtons">
                                    <form action="/listings/<%= listing._id %>/book" method="get">
                                        <button type="submit" class="bookButton">Book Now</button>
                                    </form>
                                    <% if(currentUser._id.toString()===listing.owner._id.toString()){ %>
                                        <form action="/listings/<%= listing._id %>/edit" method="get">
                                            <button class="editButton" type="submit">Edit</button>
                                        </form>
                                        <% } %>
                                </div>
                                <% if(currentUser._id.toString()===listing.owner._id.toString()){ %>
                                    <div class="deleteButton">
                                        <form action="/listings/<%= listing._id %>?_method=DELETE" method="post">
                                            <button type="submit" class="delete">Delete property</button>
                                        </form>
                                    </div>
                                    <% } %>
                            </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="reviewButton">
            <form action="/listings/<%= listing._id %>/reviews">
                <button class="submitReviewButton btn btn-dark" type="submit">See reviews</button>
            </form>
        </div>
    </div>
    <script src="/js/showStay.js"></script>